[user]
  name = Yu YAGIHASHI
  email = yagihashoooooo@gmail.com
[core]
  pager = less -cmR
  excludesfile = /Users/yagihash/.gitignore_global
  editor = vim
[color]
  ui = auto
[push]
  defualt = current
[branch]
  autosetuprebase = always
[merge]
  ff = false
[pull]
  rebase = true
[diff]
  colorMoved = zebra
[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
[ghq]
	root = ~/ghq
  root = ~/go/src
