[user]
  name = Yu YAGIHASHI
  email = yagihash@mercari.com
	signingkey = C62B7DB49DCFF23B
[core]
  pager = less -cmR
  excludesfile = /Users/yagihash/.gitignore_global
  editor = vim
[color]
  ui = auto
[push]
  default = current
[branch]
  autosetuprebase = always
[merge]
  ff = false
  tool = vimdiff
[pull]
  rebase = true
[diff]
  colorMoved = zebra
  tool = vimdiff
[alias]
  p = pull
  s = status
  f = fetch --prune
  l = log --oneline
  d = diff
  dd = difftool
  tidy = "!f() { git branch --merged | grep -v '*' | xargs -I % git branch -d %; };f"
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
[ghq]
  root = ~/go/src
[difftool]
  prompt = false
[mergetool]
  prompt = false
[gpg]
	program = gpg
[commit]
	gpgsign = false
